@media (max-width: 1000px) {
    .body-wrapper {
        margin: 0 1rem;
    }

    .project-wrapper {
        margin: 6rem 1rem 6rem 1rem;
    }

    .body-wrapper .project-wrapper {
        margin: 6rem 0rem 6rem 0rem;
    }

    nav {
        padding: 1rem;
    }

    .nav-links {
        margin-right: 2rem;
    }

    .imgDiv {
        background-size: calc(calc(100vw / 2) - 1rem);
        width: calc(100vw - 2rem);
        /* height: 281px; */
    }

    .designImgDiv {
        height: calc(100vw / 2);
    }

    .indexImgDiv {
        height: calc(100vw / 4);
        transform: translateY(-20%);
    }

    .headingText:hover+.imgDiv::before,
    .headingText:hover+.imgDiv::after {
        right: 0;
    }

    .yottie-widget-video:nth-child(4n) {
        margin-right: unset;
    }

    .yottie-widget-video {
        width: calc(25% - .5rem) !important;
    }

    .yottie-widget-video-preview-thumbnail {
        width: auto !important;
    }
}

@media (max-width: 800px) {

    /* .project-content:nth-child(2) {
        max-width: 40%;
    } */
    .project-content .rightAlign {
        max-width: 40%;
    }

    #favicon {
        max-width: 100%;
    }

    .imgThumb p {
        opacity: 0;
    }

    .yottie-widget-video:nth-child(4n) {
        margin-right: .25rem !important;
    }

    .yottie-widget-video {
        margin: .25rem;
        width: calc(33% - .5rem) !important;
    }
}

@media (max-width: 600px) {
    .project-content:nth-child(2) {
        max-width: 100%;
    }

    .project-content {
        margin: 1rem 0 0 0;
    }

    .project-row {
        flex-direction: column;
    }

    .body-wrapper {
        position: relative;
        display: block;
        height: auto;
    }

    .project-wrapper {
        margin-top: 6rem;
    }

    .project-content img,
    .project-content figure,
    .project-content .embedWrapper,
    .project-content .carousel {
        /* position: unset; */
        top: unset;
        transform: translateY(0);
    }

    .details {
        max-height: unset;
    }

    .noMargin {
        margin: 0;
    }

    .indexThumb, .imgThumb, .videoThumb {
        transform: translateY(-25%);
    }

    #imgAbout {
        position: unset;
        top: unset;
        transform: translateY(0);
        background-size: 100%;
        opacity: 100;
        margin-top: 1rem;
        width: 100%;
    }

    #about-wrapper {
        position: relative;
        display: block;
        height: auto;
    }

    .headingText:hover+.imgDiv::before,
    .headingText:hover+.imgDiv::after {
        display: none;
    }

    p,
    .body-content p {
        max-width: 100%;
    }

    h2,
    h2 a {
        font-size: 2.5rem;
    }

    H4 {
        font-size: 1.5rem;
    }

    hr {
        margin-top: 1rem;
    }

    .rightAlign {
        text-align: left;
    }

    .yottie-widget-video {
        margin: .25rem;
        width: calc(50% - .5rem) !important;
    }

    .video-thumb:after, .video-thumb:not(.active):hover:after {
        font-size: 2rem;
    }
}


/* NAV BAR RESIZE TITLE */

@media (max-width: 470px) {
    .title span {
        position: absolute;
        transform: translateX(-5rem);
        top: 1rem;
        left: 1rem;
        opacity: 0;
    }

    .title:before {
        content: "MB";
        color: white;
    }

    .title a:hover {
        background-color: transparent;
        background: none;
    }

    .nav-links .btn-toggle {
        display: none;
    }

    h2,
    h2 a {
        font-size: 2rem;
    }
}


/* HEIGHT */
@media (max-height: 1020px) {
    #video-wrapper {
        position: relative;
        display: block;
        height: auto;
    }
}

@media (max-height: 850px) {
    .body-wrapper {
        position: relative;
        display: block;
        height: auto;
    }

    #imgAbout {
        top: 19rem;
    }
}


/* https://flaviocopes.com/dark-mode/ 
 DARK MODE */

@media (prefers-color-scheme: dark) {
    body {
        --color-green: #77cc77;
        --color-white: black;
        --color-black: #FAFAFA;
        --color-grey: gray;
        --color-lightgray: #404040;
        --color-h2gray: rgb(44, 44, 44);
    }

    body.light-theme {
        --color-white: white;
        --color-black: #0B0B0B;
        --color-lightgray: lightgray;
        --color-h2gray: rgb(191, 191, 191);
    }
}