@font-face {
  font-family: 'Geomanist-Bold';
  src: url('../fonts/geomanist-bold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Geomanist-Medium';
  src: url('../fonts/geomanist-medium-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'materialdesignicons';
  src: url('/fonts/materialdesignicons-webfont.woff2') format('woff2');
}

body {
  transition: .25s;
  --color-green: #77cc77;
  --color-white: white;
  --color-black: #0B0B0B;
  --color-gray: gray;
  --color-lightgray: lightgray;
  --color-h2gray: rgb(191, 191, 191);
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  margin: auto;
  background-color: var(--color-white);
  color: var(--color-black);
  opacity: 1;
  visibility: visible;
}

body.dark-theme {
  --color-white: black;
  --color-black: #FAFAFA;
  --color-lightgray: #404040;
  --color-h2gray: rgb(44, 44, 44);
}

html {
  font-size: 16px;
}

/* BODY CONTENT MARGINS */

.body-wrapper,
.nav-content {
  max-width: 1000px;
  margin: auto;
  position: relative;
}

.body-wrapper {
  display: grid;
  height: 100vh;
  place-items: center center;
}

.body-content {
  position: absolute;
  left: 0;
  padding: 6rem 0;
}

.project-wrapper {
  margin: 6rem auto;
  max-width: 1000px;
}

.project-row {
  margin: 0;
  display: flex;
  flex-direction: row;
}

.project-content {
  margin: 1rem 0;
  width: 100%;
}

.project-content p:not(.gray) {
  padding-right: 1rem;
}

.noMargin {
  margin: 0;
}

.noMarginTop {
  margin-top: 0;
}


/* PROJECT PAGE STUFF */

.details {
  max-height: 111px;
}

.border {
  border: 1px solid var(--color-lightgray);
}


/* HIGHLIGHT COLOR */
/* https://css-tricks.com/overriding-the-default-text-selection-color-with-css/ */

::selection {
  background: var(--color-green);
  color: white;
}

::-moz-selection {
  background: var(--color-green);
  color: white;
}

.white-bg {
  background-color: var(--color-white);
  box-shadow: 2px 0 0 var(--color-white), -0rem 0 0 var(--color-white);
}


/* NAVIGATION */

nav {
  background-color: var(--color-green);
  color: var(--color-white);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 1rem 0;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover,
.title a:hover {
  color: var(--color-green);
  /* background-color: var(--color-white); */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, white 10%, white 90%, rgba(255, 255, 255, 0) 90%);
}

.title {
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Geomanist-Bold';
  display: inline-block;
}

#headingDesign {
  -webkit-text-stroke-width: 0px;
  margin-top: -1.5rem;
}

#headingVideo {
  margin-bottom: 2rem;
}

.nav-links {
  font-weight: bold;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.nav-links a {
  margin-left: 1rem;
}

input {
  font-family: 'Karla', sans-serif;
  height: 2rem;

  border-radius: 0;
}

input[type=search]::placeholder {
  color: var(--color-gray);
}

input[type=search] {
  color: var(--color-white);
  background-color: white;
  border: 1px solid var(--color-lightgray);
  padding: 0 0.5rem;
}

input[type=search]:active,
input[type=search]:focus {
  border: 1px solid var(--color-green);
}

input[type=submit] {
  color: var(--color-black);
  background-color: var(--color-lightgray);
  font-weight: bold;
  border: none;
  padding: 0 1rem;
}

input[type=submit]:hover {
  background-color: var(--color-green);
}

/* BODY TEXT STYLES */

.body-content p {
  max-width: calc(50% - 2rem);
}

p {
  margin: 0;
}

a,
p a,
li a {
  color: var(--color-green);
  font-style: normal;
  text-decoration: underline;
  overflow-wrap: break-word;
}

a:hover,
p a:hover,
h1 a:hover,
li a:hover {
  cursor: pointer;
  color: var(--color-white);
  text-decoration: none;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, var(--color-green) 10%, var(--color-green) 90%, rgba(255, 255, 255, 0) 90%);
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

a:active {
  color: inherit;
}

.black {
  color: var(--color-black);
}

.gray {
  color: var(--color-gray);
  font-style: italic;
}

blockquote {
  margin: 0;
  padding-left: 15px;
  border-left: 5px solid var(--color-green);
}

code {
  max-width: 500px;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-family: 'Karla';
  background-color: var(--color-lightgray);
  overflow-wrap: break-word;
}

#favicon {
  max-width: 50%;
  float: right;
  image-rendering: pixelated;
}

h2,
h2 a,
h1 {
  margin: 0;
  font-size: 4rem;
  font-family: 'Geomanist-Bold';
  color: var(--color-white);
  text-decoration: none;
}

h3 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--color-green);
  font-family: 'Geomanist-Bold';
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  -webkit-text-stroke-width: 0px;
}

hr {
  border: 0.5px solid var(--color-lightgray);
  margin-bottom: 1rem;
}

ul {
  list-style-type: square;
}

.rightAlign {
  text-align: right;
}

.social {
  margin-top: 1rem;
}

.social a {
  font-size: 24px;
  color: var(--color-green);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 5%, var(--color-white) 5%, var(--color-white) 87.5%, rgba(255, 255, 255, 0) 87.5%);
}

.social a:hover {
  color: var(--color-white);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 5%, var(--color-green) 5%, var(--color-green) 87.5%, rgba(255, 255, 255, 0) 87.5%);
}


/* MINECRAFT MAP OVERVIEWER */

.map {
  width: 100%;
}

.map iframe {
  border: none;
}


/* VIDEOS EMBED */

.views::after {
  content: ' Views';
}

.embedWrapper,
.map {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.embedWrapper iframe,
.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* H2 HOVER STYLES */
/* http://jsfiddle.net/3z8CN/ */

.headingText {
  display: inline-block;
}

h2 a {
  /* https://designshack.net/articles/css/12-fun-css-text-shadows-you-can-copy-and-paste// */
  color: white;
  text-shadow: 0px 0px 2px var(--color-h2gray);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, var(--color-lightgray) 10%, var(--color-lightgray) 90%, rgba(255, 255, 255, 0) 90%);
}

h2 a:hover {
  color: white;
  text-shadow: none;
  background-color: var(--color-green);
  -webkit-text-stroke-color: transparent;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, var(--color-green) 10%, var(--color-green) 90%, rgba(255, 255, 255, 0) 90%);
}


/* VIDEO PICTURES */

.imgDiv {
  z-index: -1;
  background-image: none;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 500px;
  height: 281px;
  width: 100%;
  max-width: 1000px;
  opacity: 0;
}

.imgDiv video {
  float: right;
  max-width: 50%;
}


/* HOMEPAGE PICTURES */

.indexImgDiv {
  top: 50%;
  transform: translateY(-25%);
  height: 275px;
  overflow: hidden;
}

.indexImgDiv video {
  transform: translateY(-5%);
}


/* ABOUT PICTURE */

#imgAbout {
  background-size: 500px;
  height: 420px;
  background-image: url("../img/pfp.jpg");
  opacity: 1;
}


/* DESIGN PICTURES */

.designImgDiv {
  height: 500px;
  opacity: 1;
}

.project-content img,
.project-content figure,
.project-content .embedWrapper,
.project-content .carousel {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.project-content figure img,
.project-content figure video {
  position: unset;
  top: unset;
  transform: unset;
}

figcaption {
  text-align: right;
  font-style: italic;
  color: var(--color-gray);
}

.project-content .logo {
  position: unset;
  top: unset;
  transform: translateY(0);
}

figure {
  margin: 0;
}


.videoCard {
  position: relative;
  display: block;
  margin: .25rem;
}

.videoCard img {
  width: 100%;
}

.videoCard video {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

}

#projects-page-1 {
  visibility: hidden;
  height: 0;
}

.videoCard:hover video {
  opacity: 1;
}

.videoCard a {
  transition: .25s ease;
}
/* VIDEO CARDS PROJECT GRID ELFSIGHT*/
/* 
.elfsight-app {
  z-index: 0;
}

.elfsight-app a:hover {
  background: none;
}

.yottie-popup-video-content a:hover,
.yottie-popup-video-meta-text a:hover {
  transition: none;
  text-decoration: none;
} */

/* VIDEO GALLERY */

.video-container {
width: 768px;
margin: 0 auto;
}

.embed-container {
position: relative;
padding-bottom: 56.25%;
height: 0;
overflow: hidden;
max-width: 100%;
height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.video-player__playing {
margin-bottom: 1.000em;
}

.video-player__thumbs {
overflow: hidden;
}

.video-thumb {
float: left;
width: 23.5%;
/* width: 18.4%; */
position: relative;
overflow: hidden;
padding-bottom: 13%;
/* padding-bottom: 10%; */
margin-bottom: 0.375em;
cursor: pointer;
}

.video-thumb:not(:last-child) {
margin-right: 2%;
}

.video-thumb.active {
cursor: default;
}

.video-thumb:before,
.video-thumb:after {
display: block;
position: absolute;
/* transition: all 250ms ease-out; */
z-index: 1;
}

.video-thumb:before {
content: "";
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(247, 148, 30, 0);
}

.video-thumb.active:before {
background: #77cc77bf;
}

.video-thumb:not(.active):hover:before {
background: rgba(255, 255, 255, 0.5);
}

.video-thumb:after {
font-family: "materialdesignicons";
content: "\0F040C";
top: 50%;
left: 50%;
margin: -0.458em 0 0 -0.500em;
color: rgba(255, 255, 255, 0);
font-size: 3.000em;
line-height: 1;
}

.video-thumb.active:after {
color: rgba(255, 255, 255, 1);
}

.video-thumb img {
position: absolute;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
left: 0;
}


/* DESIGN PICTURES HOVER CAPTIONS */

.headingText:hover+.imgDiv::before,
.headingText:hover+.imgDiv::after {
  font-family: 'Karla';
  font-size: 1rem;
  -webkit-text-stroke-color: transparent;
  position: absolute;
  right: 0;
  top: -1.5rem;
}

.headingText:hover+.imgDiv::after {
  top: calc(100% + 0.25rem);
  text-align: right;
}

.headingText:hover+#designImgThumbs::after {
  content: "Visual Design / Branding";
}


/* IMAGES */

img {
  width: 100%;
}

.thumbnail {
  max-width: calc(calc(100% - 3rem) / 4);
  padding-right: 1rem;
  padding-bottom: 1rem;

  display: inline-block;
  margin: 0;
}

.thumbnail img {
  transform: none;
  top: unset;
  vertical-align: middle;
  position: unset;
}

.thumbnail:nth-of-type(4n) {
  padding-right: 0rem;
  float: right;
}

.headingText:hover+#indexImgVideo,
.headingText:hover+#indexImgMotion,
.headingText:hover+#indexImgDesign,
.headingText:hover+#videoImg,
.headingText:hover+.imgDiv {
  opacity: 1;
}

.headingText:hover+#designImgThumbs {
  background-image: url("../img/thumbs/thumbs2.png");
}

.headingText:hover+#designImgLeo1 {
  background-image: url("../img/leo-all/frame_00_delay-0.01s.gif");
}